@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="post" action="/API/GetPersonalUserData">
            <label>Enter Username</label>
            <input type="text" name="User"/>
            <input type="submit" />
        </form>
    </div>
</body>
</html>
